body {
    margin: 0;
    padding: 0;
    background-color: #020617;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    box-shadow: 0 20px 50px rgba(244, 63, 94, 0.25);
    border: 2px solid #f43f5e;
    border-radius: 8px;
}